# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ESP-IDF things
build/
sdkconfig*

# clangd files
compile_commands.json

# Temp files
*.swp

# OS Specifc files
.fuse_hidden*
.DS_Store

# Eagle
*.b#*
*.s#*
*.l#*
